#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

    
}

h1 {
    background-color: darkseagreen;
    color:#003B4A;
    border: 1px;
    border-color: #D6A800;
    padding: 10px;
}

h2 {
    background-color: darkseagreen;
    color: #003B4A;
    border: 1px;
    border-color: #D6A800;
    padding: 10px;
}

h3 {
    background-color:darkseagreen;
    color: #003B4A;
    border: 1px;
    border-color: #D6A800;
    padding: 10px;
}

h4 {
    background-color: darkseagreen;
    color:#003B4A;
    border: 1px;
    border-color: #D6A800;
    padding: 10px;
}
    
a  {
    color:brown;
    text-decoration: none;
}

a:hover {
    color:orangered;
}

a:visited {
    color: blue;
}


