html, body {
  font-size: 16;
}

p {
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  text-align: left;
  padding-top: 15;
}

address {
  text-align: center;
}

.link {
  font-weight: bold; 
  font-size: 1.25;
  color: #4F3674;
  text-decoration: none;

}
.link:hover{
  text-decoration: underline;
  color:#D6A800
}

.link:visited{
  text-decoration: dashed-underline;
  color: #1f9956
}

.sentence{
  font-style: italic;
}

.intro {
  text-indent: 2em;
}